<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="ct" id="t1">
        <div class="ct" id="t2">
          <div class="ct" id="t3">

                <ul id="menu">
                    <a><span class="title">Meni</span></a>
                  <a href="#t1"><li class="icon fa fa-bookmark" id="uno"> Dash</li><span class="margin"></span></a>
                  <a href="#t2"><li class="icon fa fa-database" id="dos"> MySql</li><span class="margin"></span></a>
                  <a href="#t3"><li class="icon fa fa-id-card-o" id="tres">  JSON</li><span class="margin"></span></a>
                </ul>

                <div class="page" id="p1">
                   <section class="icon fa fa-bookmark"><span class="title">Bolt</span><span class="hint">Like this pen to see the magic!...<br> Just kidding, it won't happen anything but I'll be really happy If you do so.</span></section>  
                </div>
                <div class="page" id="p2">
                  <section class="icon fa fa-keyboard-o"><span class="title">Type</span></section>
                </div>  
                <div class="page" id="p3">
                    <dashboard></dashboard>
            </div>
          </div>
        </div>
      </div>
      
      
      